*{
  font-family:Georgia;
}
p{
  background: white;
  font-size: 14px;
  color: #333;
  line-height: 2em;
  font-family: Inter;
  padding: 0;
  background: #fff;
  min-width: 320px;
  position: absolute;
  margin: 20;
  width: 20cm;
}
.space-image-search{
  margin-top: 0;
  top:0;
  z-index : 1;
}
h2{
  background-color:aquamarine;
  font-family: Georgia;
}