* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_5 {
  width: 100%;
  height: 2674px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_6 {
  width: 124px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 180px;
  left: 735px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_10 {
  width: 184px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 186px;
  left: 989px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_11 {
  width: 174px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 183px;
  left: 374px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_19 {
  width: 549px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 252px;
  left: 374px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_22 {
  width: 878px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 335px;
  left: 374px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_27 {
  width: 345px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 441px;
  left: 905px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_28 {
  width: 226px;
  height: 30px;
  background: rgba(0,93,37,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 441px;
  left: 989px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3_30 {
  width: 434px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 1668px;
  left: 374px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_31 {
  width: 259px;
  height: 120px;
  background: url("../images/v3_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1714px;
  left: 374px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v3_33 {
  width: 259px;
  height: 129px;
  background: url("../images/v3_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1709px;
  left: 689px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v3_34 {
  width: 248px;
  height: 120px;
  background: url("../images/v3_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1714px;
  left: 977px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v3_35 {
  width: 192px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 1834px;
  left: 407px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v3_36 {
  width: 188px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 1839px;
  left: 722px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v3_37 {
  width: 191px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 1834px;
  left: 950px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v3_39 {
  width: 357px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 1959px;
  left: 365px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v3_40 {
  width: 304px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 2046px;
  left: 365px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_42 {
  width: 268px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 1959px;
  left: 996px;
  font-family: Inter;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v5_43 {
  width: 28px;
  height: 26px;
  background: url("../images/v5_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2038px;
  left: 996px;
  overflow: hidden;
}
.v6_2 {
  width: 557px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 523px;
  left: 374px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v7_3 {
  width: 133px;
  height: 109px;
  background: url("../images/v7_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 100px;
  overflow: hidden;
}
.v7_4 {
  width: 133px;
  height: 109px;
  background: url("../images/v7_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2508px;
  left: 716px;
  overflow: hidden;
}
.v7_10 {
  width: 180px;
  height: 163px;
  background: url("../images/v7_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 692px;
  overflow: hidden;
}
.v37_4 {
  width: 842px;
  color: rgba(0,93,37,1);
  position: absolute;
  top: 784px;
  left: 373px;
  font-family: Inter;
  font-weight: Light;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
