*{
  font-family:Georgia;
  background-color: rgb(206, 204, 204);
}
/* p{
  background: white;
  font-size: 14px;
  color: #333;
  line-height: 2em;
  font-family: Inter;
  padding: 0;
  background: #fff;
  min-width: 320px;
  position: absolute;
  margin: 20;
  width: 20cm;
} */
h2{
  font-family: Georgia;
}
h4{
  color:black;
}
.social-media{
  width:25%;
  margin:0 auto;
  float: left;
  overflow-y: auto;
}
.flight-status-search{
  width:70%;
  margin:0 auto;
  float:right;
  border-radius: 5px;
  height: 9250px;
  padding: 20px;
  background-color: rgb(206, 204, 204);
}
