*{
  font-family:monospace;
  align-content: center;
  background-color: whitesmoke;
}
#nav{
  flex: content;
}
/* p{
  background: white;
  font-size: 14px;
  color: #333;
  line-height: 2em;
  font-family: Inter;
  padding: 0;
  background: #fff;
  min-width: 320px;
  position: absolute;
  margin: 20;
  width: 20cm;
} */
h2{
  font-family: Georgia;
}
h3{
  color:grey;
  align-content:flex-end;
  font-size: smaller;
}
.social-media{
  width:25%;
  margin:0 auto;
  float: left;
  overflow-y: auto;
}
.flight-status-search{
  width:40%;
  margin:0 auto;
  border-radius: 5px;
  border-style:inset;
  height: 5050px;
  padding: 20px;
  color: grey;
  background-color: whitesmoke;
}
